.boton-boton{
  background: #0e73bb;
  margin-top: 20px;
  color: white;
  font-size: 25px;
  width: 350px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  
}

.boton-boton:hover{
  background: #257fc0;
}