.total{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-postear{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  background-color: #161b21;
}
.error-message {
  border: 1px solid #ee0011;
  color: #f8838b;
  background-color: #ffc2c611;
  border-radius: 5px;
  margin: 20px 0;
  width: 80%;
  min-height: 20px; 
  box-sizing: border-box;
  padding: 5px 20px;
  font-size: 15px;
}
.er {
  display: flex;
  bottom: 4px;
  left: 6px;
  color: #ee0011;
  font-size: 20px;
}